@import '../fonts/inter/webfont';

//colours
$color-off-white: #fffdfa;
$color-dark-blue: #00001a;
$color-gunmetal: #5e607a;
$color-light-red: #f15d51;
$color-silver: #c5c6ce;
$color-yellow: #e9aa52;

//fonts
$font-family-regular: 'Inter-Regular';
$font-family-bold: 'Inter-Bold';
$font-family-extrabold: 'Inter-Extra-Bold';
