html {
  &.is-active {
    overflow: hidden;

    .overlay {
      opacity: 1;
      z-index: 1;
    }
  }
}

body {
  font-family: $font-family-regular;
  background-color: $color-off-white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
