.item {
  h4 {
    font-family: $font-family-bold;
    color: $color-silver;
  }

  a {
    font-family: $font-family-extrabold;
    color: $color-dark-blue;

    &:hover {
      color: $color-light-red;
    }
  }

  p {
    color: $color-gunmetal;
  }
}
