.sidebar {
  background-color: $color-dark-blue;

  h2 {
    font-family: $font-family-bold;
    color: $color-yellow;
  }

  &-item {
    border-color: $color-gunmetal;

    a {
      font-family: $font-family-extrabold;
      color: $color-off-white;

      &:hover {
        color: $color-yellow;
      }
    }

    p {
      color: $color-silver;
    }
  }
}
